* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  generic */
p {
    line-height: 1rem;
}

/* Bootstrap fixes */
.input-group-prepend {
    width : 6.5rem;
}
  
.input-group-prepend label {
    width: 100%;
    overflow: hidden;
}

#result h2,
#main-header {
    font-weight: bold;
}

/* Form  */
.focus-fix:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.pointer {
    cursor: pointer;
}

#category {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 6.5rem;
    background-color: #ececec;
}

/* Result */
#result p {
    margin-left: 0.5rem;
}

#result p:first-of-type {
    margin-left: 0;
}

.other-names {
    color: #e2e2e2;
}

.line-break {
    white-space: nowrap;
}
