* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  generic */
p {
    line-height: 1rem;
}

/* Bootstrap fixes */
.row {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    background-clip: unset;
}

/* Form  */
.search-bar,
#category {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-button,
.search-bar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-bar:focus,
.search-button:focus,
#country:focus,
#category:focus,
#time-zone:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.other-names {
    margin-left: 0.5rem;
    color: gray;
}

.pointer {
    cursor: pointer;
}

#time-zone {
    color: white;
    text-align-last: right;
    border: none;
    outline: none;
}
